<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AssemblyFile" value="C:\Users\Admin\Documents\ITVDN-dotnet\Professional\006_Reflection\Temperature\bin\Debug\Temperature.dll"/>
	</appSettings>
</configuration>