<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="InputFilePath" value="C:/Example/input.txt"/>
		<add key="CompressedFilePath" value="C:/Example/input.gz"/>
	</appSettings>
</configuration>